
.style-switcher{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 200px;
    height: 100%;
    box-shadow: var(--shadow);
}
.style-switcher-main{
    height: 100%;
    background-color: var(--bg-color);
    padding: 30px;
    overflow: auto;
}
.style-switcher-toggler{
    height: 100%;
    width: 40px;
    background-color: var(--main-color);
    color: var(--text-white);
    font-size: var(--fs-md);
    position: absolute;
    left: -48px;
    top: 28%;
    border-radius: 8px 0 0 8px;
    border: none;
}
